<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>

	<!-- Solo un footer  -->
  
        <nav th:fragment="navegador" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
            <a href="#" th:href="@{/inicio}">World Music <img th:src="@{/img/logo.png}"> </a>
    </div>
    <ul class="nav navbar-nav m-auto">
      <li><a href="#" th:href="@{/producto}">Producto</a></li>
      <li><a href="#" th:href="@{/concierto}">Concierto</a></li>
      <li><a href="#" th:href="@{/ajustes}">Ajustes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" th:href="@{/registro}"><span class="glyphicon glyphicon-user"></span> ¡Regístrate!</a></li>
      <li><a href="#" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> ¡Inicia sesión!</a></li>
    </ul>
  </div>
</nav>

  
</body>
</html>