<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulario</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/form3.css"
	th:href="@{/css/form3.css}">

</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">

				<div class="container">
					<form class="form-horizontal" method="POST" action="#"
						th:action="${concierto.id != 0 } ? @{/editarConcierto/submit} : @{/newConcierto/submit}" th:object="${concierto}"
						role="form">
						
						<h2 class="titulo">New Concierto</h2>
						
						<input th:if="*{id != 0}" type="hidden" name="id" th:field="*{id}" />
						
						<div class="form-group">
							<label class="col-md-9 control-label" for="nombre">Nombre</label>
							<div class="col-md-9">
								<input id="nombre" name="nombre" type="text"
									th:field="*{nombre}" placeholder="Introduzca tu nombre"
									class="form-control input-md" required="">

							</div>
						</div>


						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-9 control-label" for="descripcion">Descripción</label>
							<div class="col-md-9">
								<input id="descripcion" name="descripcion" type="text"
									th:field="*{descripcion}"
									placeholder="Soy ciego. ¡Cuéntame acerca del producto!"
									class="form-control input-md" required=""> <span
									class="help-block">(Debe de contener al menos 8
									caracteres)</span>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-9 control-label" for="fechaPubl">Fecha
								de publicación</label>
							<div class="col-md-9">
								<input id="fechaPubl" name="fechaPubl" type="date"
									th:field="*{fechaPubl}" placeholder=""
									class="form-control input-md" required="">

							</div>

						</div>




						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-9 control-label" for="pvp">PvP</label>
							<div class="col-md-9">
								<input id="pvp" name="pvp" type="number" th:field="*{pvp}"
									placeholder="¡Pasta Gansa!" class="form-control input-md"
									required="">

							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-9 control-label" for="fechaConc">Fecha de Concierto</label>
							<div class="col-md-9">
								<input id="fechaConc" name="fechaConc" type="date"
									th:field="*{fechaConc}" placeholder=""
									class="form-control input-md" required="">

							</div>
							
							<!-- Text input-->
						<div class="form-group">
							<label class="col-md-9 control-label" for="artista">Artista</label>
							<div class="col-md-9">
								<input id="artista" name="artista" type="text"
									th:field="*{artista}"
									placeholder="¿J Cole...Las Ketchup?"
									class="form-control input-md" required="">
							</div>
						</div>
							
							
							<!-- Text input-->
						<div class="form-group">
							<label class="col-md-9 control-label" for="lugarConc">Lugar del Concierto</label>
							<div class="col-md-9">
								<input id="lugarConc" name="lugarConc" type="text"
									th:field="*{lugarConc}"
									placeholder="¿Manhattan...New York?"
									class="form-control input-md" required=""> <span
									class="help-block">(Debe de contener al menos 8
									caracteres)</span>
							</div>
						</div>
							
							









						<!-- Multiple Checkboxes -->
						<div class="form-group">
							<label class="col-md-9 control-label" for="generos">En
								Stock</label>
							<div class="col-md-9">
								<div class="checkbox">
									<label for="generos-0"> <input type="checkbox"
										name="generos" id="generos-0" value="1"> Sí
									</label>
								</div>
								<div class="checkbox">
									<label for="generos-1"> <input type="checkbox"
										name="generos" id="generos-1" value="2"> No
									</label>
								</div>
							</div>
						</div>





						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="singlebutton"></label>
							<div class="col-md-4">
								<button id="singlebutton" name="singlebutton"
									class="btn btn-primary">Registro</button>
							</div>
						</div>
					</form>
					<!-- /form -->

				</div>

			</div>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>